<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calculator Application.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B5D84C41E60AC5D0076B28D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B5D84D81E60AC5E0076B28D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B5D84E31E60AC5E0076B28D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
